*{
    margin: 20 px
}

body {
    border: 100px;
    background-color: white;
    background-repeat: no-repeat;
 }


h1 {
float: center;
font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
text-decoration: underlilne;
color: red;
border: dotted, 20px;
}

